<h2 class="text-center text-black"> Danh sách sinh viên đủ điều kiện nhập học</h2>
<table class="table  mb-3">
    <thead class="align-middle text-center table-light">
      <tr>
        <td>
          <input class="form-check-input table__checkbox" type="checkbox">
        </td>
        <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ">
          ID</th>
        <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">
          Tên sinh viên</th>
        <th class="text-uppercase text-xxs font-weight-bolder opacity-7 ps-2">
          Trường</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Nguồn nhập học</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Ngành</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Liên lạc</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Học bổng</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Trình độ TA</th>
        <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7">
          Status</th>
        
      </tr>

    </thead>
    <tbody class="align-middle text-center">
      <tr>
        <td>
          <input class="form-check-input table__checkbox" type="checkbox">
          </td>
        <td>

          <p class="mb-0 text-sm">12</p>

        </td>
        <td>
          <p class="link text-sm font-weight-bold mb-0"> <a [routerLink]="['/admissions/formprofile']" >Nguyễn Ngọc Anh</a></p>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">THPT Cầu Giấy</p>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">Database</p>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">CNTT</p>
          </td>
        <td>
          <div class="d-flex align-items-center gap-3 fs-6">
            <a  [routerLink]="['/admissions/formprofile']" href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="" data-bs-original-title="View detail" aria-label="Views"><i
                class="bi bi-eye-fill"></i></a>
            <a href="javascript:;" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="" data-bs-original-title="Email" aria-label="Email"><i class="lni lni-envelope"></i></a>

            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="" data-bs-original-title="Chat Box" aria-label="Chat Box"><i
                class="fadeIn animated bx bx-message-detail"></i></a>
          </div>
        </td>
        <td>
          <p class="text-sm font-weight-bold mb-0">Không</p>
          </td>
        <td>
          <div class="std__english_level not__set_level"><span class="small__text">Chưa xếp trình độ</span>
          </div>
        </td>

        <td>
          <p class="text-sm font-weight-bold mb-0 radius-10 bg-success">Đủ điều kiện</p>
        </td>
        
      </tr>

    </tbody>



  </table>
  <div class="row button-infstudent text-center align-content-center ">
    <div class="col-sm-6 form-group">
        <br>
        <button class="btn btn-sm btn-success" type="submit"> Gửi danh sách nhập học theo kỳ 
        </button>
    </div>
    <div class="col-sm-6 form-group">
        <br>
        <button class="btn btn-sm btn-info" type="submit">Xuất file PDF</button>
    </div>

</div>


