<div class="row">
    <div class="col-lg-12">
        <div class="card box-shadow">
            <div class="row text-center title">
                <h2>Danh sách xác minh phí</h2>
            </div>
            <div class="card-body">
                <div class="horizontal-form-elements">
                    <div class="fillter-wrap m-auto mw-60vw">
                        <div class="col-lg-8">
                            <div class="input-group h-100">
                                <form class="position-relative w-100">
                                    <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                                        <i class="bi bi-search"></i>
                                    </div>
                                    <input class="form-control ps-5 radius-12 h-100" type="text"
                                        placeholder="Search..." />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="fillter-wrap">
                            <div class="item-fillter">
                                <select class="form-select" formControlName="Status" id="year">
                                    <option *ngFor="let stt of ngFilterYear" [value]="stt">
                                        {{ stt }}
                                    </option>
                                </select>
                                <label for="year">Năm</label>
                            </div>
                            <div class="item-fillter">
                                <select class="form-select" formControlName="Status">
                                    <option *ngFor="let stt of ngFilterSemester" [value]="stt">
                                        {{ stt }}
                                    </option>
                                </select>
                                <label>Kỳ</label>
                            </div>
    
                            <div class="item-fillter">
                                <select class="form-select " formControlName="Status">
                                    <option *ngFor="let stt of ngFilterStatus" [value]="stt">
                                        {{ stt }}
                                    </option>
                                </select>
                                <label for="">Trạng thái</label>
                            </div>
                        </div>
                    </div>
                    
                    <!--  -->
                    <div class="row text-center d-flex m-auto justify-content-center gap-2 my-3">
                        <!-- <div class="col-lg-3">
                            <div class="form-group bg-success text-white radius-30">
                                <p class="mb-0">Tổng số SV nộp đủ phí</p>
                                <p>108</p>
                            </div>
                            <div class="form-group bg-warning text-white radius-30">
                                <p class="mb-0">Thiếu phí xét tuyển</p>
                                <p>45</p>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="form-group bg-danger text-white radius-30">
                                <p class="mb-0">Chưa nộp phí</p>
                                <p>108</p>
                            </div>
                            <div class="form-group bg-warning text-white radius-30">
                                <p class="mb-0">Thiếu phí giữ chỗ</p>
                                <p>34</p>
                            </div>
                        </div> -->
                        <p-tag severity="success" icon="pi pi-check" value="Tổng số SV nộp đủ phí: 108" [rounded]="true"></p-tag>
                        <p-tag severity="info" icon="pi pi-info-circle" value="Thiếu phí giữ chỗ: 34" [rounded]="true"></p-tag>
                        <p-tag severity="warning" icon="pi pi-exclamation-triangle" value="Thiếu phí xét tuyển: 45" [rounded]="true"></p-tag>
                        <p-tag severity="danger" icon="pi pi-times" value="Chưa nộp phí: 108" [rounded]="true"></p-tag>
                    </div>

                    <!--  -->
                    <h2 class="text-danger text-center">
                        Danh sách tình trạng nộp học phí của sinh viên
                    </h2> 
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-middle tbl-payment-fee">
                                    <thead class="table-secondary text-center">
                                            <th>STT</th>
                                            <th>Mã học sinh</th>
                                            <th>Tên sinh viên</th>
                                            <th>Tên tư vấn</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Link hóa đơn</th>
                                            <th>Liên lạc</th>
                                            <th>Chuyên ngành</th>
                                            <th>Trạng thái</th>
                                            <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let payment of payments; let i = index">
                                            <td>{{i}}</td>
                                            <td class="text-center">12436</td>
                                            <td [routerLink]="['/accountant/formprofile']" class="touch-profile">
                                                {{payment.Student.FullName}}
                                            </td>
                                            <td class="text-center">{{payment.Student.Phone}}</td>
                                            <td>Nguyen Ngoc Anh</td>
                                            <td>
                                                {{payment.Student.Email}}
                                            </td>
                                            <td class="text-center">
                                                <link rel="" type="" href="">vhbjknk
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center gap-3 fs-6">
                                                    <a [routerLink]="['/accountant/formprofile']" href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><i
                                                            class="bi bi-eye-fill"></i></a>
                                                    <a href="javascript:;" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Email" aria-label="Email"><i
                                                            class="lni lni-envelope"></i></a>


                                                    <!-- <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" title=""
                                                        data-bs-original-title="Chat Box" aria-label="Chat Box"><i
                                                            class="fadeIn animated bx bx-message-detail"></i></a> -->
                                                </div>
                                            </td>


                                            <td class="text-center">{{payment.Student.Majors}}</td>
                                            <td class="text-center">

                                                <span class="badge text w-100" [ngClass]="{'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2, 'bg-danger': payment.Status == 0}" *ngIf="payment.Status == 0">Chưa nộp đủ phí</span>
                                                <span class="badge text w-100" [ngClass]="{'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2, 'bg-danger': payment.Status == 0}" *ngIf="payment.Status == 2">Chờ xử lý</span>
                                                <span class="badge text w-100" [ngClass]="{'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2, 'bg-danger': payment.Status == 0}" *ngIf="payment.Status == 1">Đã nộp đủ phí</span>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-flex align-items-center gap-3 fs-6">
                                                    <a href="javascript:;" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit" aria-label="Edit" label="Show"><i
                                                            class="fadeIn animated bx bx-pencil"></i></a>

                                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete"><i
                                                            class="fadeIn animated bx bx-trash-alt"></i></a>

                                                    <!-- <p-button (click)="show()" icon="fadeIn animated bx bx-pencil"
                                                        label="Show"></p-button> -->
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>

                                </table>
                                <div class="row justify-content-center">
                                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"></p-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>