<div class="card radius-10 box-shadow">
    <h2 class="mt-2 text-uppercase text-center mr-top-20">Event list</h2>

    <div class="card-body">

        <div *ngFor="let event of eventsByStudent" class=" row d-flex align-items-center pb-3 me-auto">
            <div class="row">
                <div class="col-lg-12">
                    <div class="event-list-content fix">
                        <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;" class="">
                            <li>Hồ Tùng Mậu, Hà Nội</li>
                            <li>9.30 - 10.30 AM, 15-04-2023</li>
                            <li>
                                <span *ngIf="event.Confirm == 0" class="fst-italic text-danger">(Bạn đã xác nhận không tham
                                    gia)</span>
                                <span *ngIf="event.Confirm == 1" class="fst-italic text-success">(Bạn đã xác nhận tham
                                    gia)</span>
                            </li>
                        </ul>
                        <h2>{{event.Name}}</h2>
                        <p>{{event.Description}}</p>
                        <button class="btn mt-20" *ngIf="event.Confirm == 0" (click)="confirmEvent(event.StudentID, event.EventID, 1)">Xác nhận tham gia</button>
                        <button class="btn mt-20" *ngIf="event.Confirm == 1" (click)="confirmEvent(event.StudentID, event.EventID, 0)">Xác nhận không tham gia</button>
                        <div class="crical"><i class="fal fa-video"></i> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner-border text-primary loading" role="status" *ngIf="!eventsByStudent.length">
        <span class="sr-only">Loading...</span>
    </div>
</div>