


    <!--start wrapper-->
    <div class="wrapper">
        <!--start top header-->
        <app-header></app-header>
        <!--end top header-->

        <!--start sidebar -->
        <aside class="sidebar-wrapper" data-simplebar="true">
            <app-logo-gw></app-logo-gw>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon"><i class="bi bi-house-fill"></i>
                        </div>
                        <div class="menu-title">Application</div>
                    </a>
                    <ul>
                        <li><a [routerLink]="['/accountant/feeverification']"><i class="bi bi-check-circle fs-15"></i>Xác Minh Phí</a>
                        </li>
                        <li><a [routerLink]="['/accountant/edittypefee']"><i class="bi bi-gear fs-15"></i>Chỉnh sửa các loại phí</a>
                        </li>
                       
                    </ul>
                </li>

                <li>
                    <a [routerLink]="['/accountant/requestfee']">
                        <div class="parent-icon"><i class="bi bi-cash-coin"></i>
                        </div>
                        <div class="menu-title">Yêu cầu xác minh phí</div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/accountant/boxchat']">
                        <div class="parent-icon"> <i class="bi bi-chat-dots-fill"></i>
                        </div>
                        <div class="menu-title">Liên hệ tư
                            vấn tuyển sinh</div>
                    </a>
                </li>
            </ul>
            <!--end navigation-->
        </aside>
        <!--end sidebar -->


        <!--start content-->
        <main class="page-content">
            <router-outlet>
            
            </router-outlet>
            <app-footer></app-footer>
        </main>
       


        <!--end page main-->
        <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
        <!--end overlay-->

        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->

        <!--start switcher-->
        <!-- <app-switcher-body></app-switcher-body> -->
        <!--end switcher-->

    </div>
    <!--end wrapper-->