<div class="chatbox-wrap">
  <div class="col-lg-12">
    <div class="selected-user">
      <span>Tới: <span class="name">Quản lý tuyển sinh</span></span>
    </div>
    <div class="chat-container">
      <ul class="chat-box chatContainerScroll">
        <li class="chat-left">
          <div class="chat-avatar">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
            <div class="chat-name">Admin</div>
          </div>
          <div class="chat-text">Xin chào Ánh, Tôi là quản lý tuyển sinh
            <br>Tôi có thể giúp gì cho bạn?
          </div>
          <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
        </li>
        <li class="chat-right">
          <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
          <div class="chat-text">Em chào chị,
            <br> Em cần thông tin liên quan đến cơ chế tuyển sinh
          </div>
          <div class="chat-avatar">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Retail Admin">
            <div class="chat-name">Ánh</div>
          </div>
        </li>
        <li class="chat-left">
          <div class="chat-avatar">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
            <div class="chat-name">Admin</div>
          </div>
          <div class="chat-text">Xin chào Ánh, Tôi là quản lý tuyển sinh
            <br>Tôi có thể giúp gì cho bạn?
          </div>
          <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
        </li>
        <li class="chat-right">
          <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
          <div class="chat-text">Em chào chị,
            <br>Em cần thông tin liên quan đến cơ chế tuyển sinh
          </div>
          <div class="chat-avatar">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Retail Admin">
            <div class="chat-name">Ánh</div>
          </div>
        </li>
        <li class="chat-left">
          <div class="chat-avatar">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
            <div class="chat-name">Admin</div>
          </div>
          <div class="chat-text">Xin chào Ánh, Tôi là quản lý tuyển sinh
            <br>Tôi có thể giúp gì cho bạn?
          </div>
          <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
        </li>
        <li class="chat-right">
          <div class="chat-hour">08:59 <span class="fa fa-check-circle"></span></div>
          <div class="chat-text">Em chào chị,
            <br>Em cần thông tin liên quan đến cơ chế tuyển sinh
          </div>
          <div class="chat-avatar">
            <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Retail Admin">
            <div class="chat-name">Ánh</div>
          </div>
        </li>
        <li class="chat-left">
          <div class="chat-avatar">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
            <div class="chat-name">Admin</div>
          </div>
          <div class="chat-text">Xin chào Ánh, Tôi là quản lý tuyển sinh
            <br>Tôi có thể giúp gì cho bạn?
          </div>
          <div class="chat-hour">09:00 <span class="fa fa-check-circle"></span></div>
        </li>
      </ul>
      <div class="form-group mt-3 mb-0 btn-submit">
        <input class="form-control" rows="3" placeholder="Type your message here...">
        <div class="file btn btn-primary">
          <i class="bi bi-folder-plus"></i>
          <input type="file" name="file"/>
        </div>
        <button class="btn btn-primary"><i class="bi bi-send"></i></button>
      </div>
    </div>
  </div>
</div>
