<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <app-header></app-header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true">
        <app-logo-gw></app-logo-gw>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-house-fill"></i>
                    </div>
                    <div class="menu-title">Hồ sơ và sự kiện</div>
                </a>
                <ul class="break-menu">
                    <li> <a [routerLink]="['./profilestudent', ID]"><i class="bi bi-person-square fs-15"></i>Hồ sơ</a>
                    </li>
                    <li> <a [routerLink]="['./confirmevents', ID]"><i class="bi bi-calendar-event-fill fs-15"></i>Sự kiện</a>
                    </li>
                </ul>
            </li>

            <li>
                <a [routerLink]="['./boxchat']">
                    <div class="parent-icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <div class="menu-title">Liên hệ tư vấn tuyển sinh</div>
                </a>
            </li>

            <div class="card shadow-sm border-5 bg-dark-subtle">
                <div class="card-body">
                    <div class=" text-center">
                        <h3 class="mb-1">TRẠNG THÁI</h3>
                    </div>
                    <div class="d-flex align-items-center justify-content-around mt-3 gap-3">
                        <ul class="list-group list-group-flush text-center ">
                            <p class="bg-danger text-white radius-15 p-1" *ngIf="profileStatus == 0"> Chưa đầy đủ hồ sơ </p>
                            <p class="bg-success text-white radius-15 p-1" *ngIf="profileStatus == 1"> Đầy đủ hồ sơ </p>
                            <div *ngFor="let payment of payments">
                                <p [ngClass]="{'bg-danger': payment.Status == 0, 'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2}" class="text-white radius-15 p-1" *ngIf="payment.Status == 0">Chưa đủ {{ payment.FeeType.FeeType }}</p>
                                <p [ngClass]="{'bg-danger': payment.Status == 0, 'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2}" class="text-white radius-15 p-1" *ngIf="payment.Status == 1">Đã đủ {{ payment.FeeType.FeeType }}</p>
                                <p [ngClass]="{'bg-danger': payment.Status == 0, 'bg-success': payment.Status == 1, 'bg-warning': payment.Status == 2}" class="text-white radius-15 p-1" *ngIf="payment.Status == 2">Đang chờ xét duyệt {{ payment.FeeType.FeeType }}</p>
                            </div>
                            <p class="bg-danger text-white radius-15 p-1"> Học bổng </p>
                        </ul>

                    </div>


                </div>

            </div>
            <!-- <li><a class='nav-link' [routerLink]="['/welcome']">Welcome</a></li> -->
        </ul>
        <!--end navigation-->
    </aside>
    <!--end sidebar -->


    <!--start content-->
    <main class="page-content">
        <router-outlet></router-outlet>
    <app-footer></app-footer>

    </main>



    <!--end page main-->
    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->


</div>
<!--end wrapper-->