.toast {
    background-color: #2ecc71 !important;
}


/* Ghi đè lớp .toast-success */

.toast-success {
    background-color: #2ecc71 !important;
}

.break-menu{
    margin-left: 6px;
}

.break-menu>li {
    padding: 4px;
}

.fs-15{
    font-size: 15px !important;
}